*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
    font-family: "Mulish", serif;
}

body{
    height: 100vh;
}

.content{
    padding-top: 5rem;
    padding-left: 7rem;
    padding-right: 2rem;
}

/* styling for divs */
.parent-div{
    display: flex;
}

.left-inner-div p{
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    word-spacing: 2px;
    width: 445px;
    
}

.left-inner-div{
    padding-top: 10rem;
    width: 450px;
    height: 200px;
}

h2{
    padding-bottom: 2rem;
}


/* styling for form container */
.form-container{
    width: 580px;
    height: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
     padding: 30px;
    border-radius: 6px;
    margin-left: 5rem;
    font-size: 15px;
    font-weight: bold;
}

.rows{
    display: flex;
    gap: 2rem;
    
}

.box{
    width: 238px;
    height: 72px;
}

input:hover{
    border: 2px solid #007bff; 
    outline: none;
}



input:focus{
    border: 1.5px solid aqua;
    outline: none;
    cursor: pointer;
}

.rows label{
    margin-bottom: 1rem;
}

.rows input, .rows select{
    width: 250px;
    padding: 10px;
    display: block;
    margin-bottom: 20px;
    
}

.passw input, .activity select{
    width: 100%;
    padding: 10px;
} 


.activity, .passw{
    margin-bottom: 20px;
}

a{
    color: aqua;
}


button{
    width: 100%;
    height: 48px;
    background: aqua;
    border: none;
    margin-bottom: 20px;
    color: white;
    font-weight: 700;
}

button:focus{
    border: 2px solid #007bff; 
    outline: none;
}

